*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1{
    font-size: 3.5rem;
}
h2{
    font-size: 2.7rem;
}
h3{
    font-size: 2rem;
}
p{
    font-size: 1.25rem;
}
ul{
    list-style: none;
}
li{
    font-size: 1.25rem;
}

button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px  rgba(0,0,0,0.5) ;
    color: white;
    background-color: #2e4469;
}

button:hover{
    background-color: rgb(81, 81, 245);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{color: rgb(53, 53, 173)
}

header{
    background-color: #2e4469;
}

header .logo{
    height: 12vh;
    display: left;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover{
    background-color:gray;
    transition: all .3s;
    border-radius: 7px;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ), url(media/Header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#hero p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#hero button{
    font-size: 1.5rem;
}

#somos-cdl{

}

#somos-cdl .container{
    text-align: center;
    padding: 200px 12px;
}

#nuestras-vacantes{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
    
}

#nuestras-vacantes .container{
   padding: 150px 12px;
}
#nuestras-vacantes h2{
    margin-top: 0;
    font-size: 3rem;
}

#nuestras-vacantes p{
    display: none;
}

#nuestras-vacantes a{
    font-size: 3em;
    color: rgb(12, 12, 12);
}

#nuestras-vacante a:hover{
    color: #2e4469;
    transition: all .3s;
}

#nuestras-vacantes .cartas{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 20px;

}
#mision-img{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(250, 245, 245);
    color: rgb(8, 7, 7);
    height: 80vh;
    
}

.carta2:first-child{
    background-image: url(media/);
    background-position: center center;
    background-size: cover;
    margin: 14px;
    border-radius: 17px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}  

.carta:nth-child(2){
    background-image: url(media/);
    background-position: center center;
    background-size: cover;
    margin: 14px;
    border-radius: 17px;
}

.carta:first-child{
    background-image: url(media/contacm.jpg);
    background-position: center center;
    background-size: cover;
    margin: 14px;
    border-radius: 17px;
}

.carta:nth-child(2){
    background-image: url(media/work2.jpg);
    background-position: center center;
    background-size: cover;
    margin: 14px;
    border-radius: 17px;

}

.carta:nth-child(3){
    background-image: url(media/subgerente.jpg);
    background-position: center center;
    background-size: cover;
    margin: 14px;
    border-radius: 17px;
}

#caracteristicas .container{
    text-align: center;
    padding: 200px 12px;

}

#caracteristicas li{
    margin: 15px 0px;
    font-weight: bold;
}

#unete-ya{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}
#unete-ya h2{
    font-size: 9vw;
}

#unete-ya button{
    font-size: 5vw;
}

footer{
    background-color: #2e4469;
}

footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: white;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #somos-cdl .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-cdl .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-cdl h2{
        margin-top: 0px;
    }

    #somos-cdl .img-container{
        background-image: url("media/");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #nuestras-vacantes .programas{
        display: flex;
        justify-content: center;
    }

    #nuestras-vacantes p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestras-vacantes h2{
        font-size: 4em;
    }

    #nuestras-vacantes h3{
        margin-top: 0;
    }

    #nuestras-vacantes .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/contacm.jpg");
        border-radius: 100px;
        margin: 15px;
        width: 60%;

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/asesorc.jpg");
        border-radius: 100px;
        margin: 15px;
        width: 60%;
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/subgerente.jpg");
        border-radius: 100px;
        margin: 15px;
        width: 60%;
        

    }

    #caracteristicas{
        background-image: url("media/personawork.jpg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #unete-ya h2{
        font-size: 3em;
    }

    #unete-ya button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}